@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-slate-800 text-slate-300;
    @apply flex justify-center items-center min-h-screen;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
